<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Experiments">
        <activity
            android:name=".exp02_know_your_number.BasicCalculatorActivity"
            android:exported="false"
            android:theme="@style/Theme.Experiments"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".exp02_know_your_number.EvenOdd"
            android:exported="false"
            android:theme="@style/Theme.Experiments"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".exp03a_series_sum.SeriesSumResultActivity"
            android:exported="false"
            android:theme="@style/Theme.Experiments"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".exp03a_series_sum.SumSeriesExplicitIntent"
            android:exported="false"
            android:theme="@style/Theme.Experiments"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".exp03b_external_apps.LaunchExternalApps"
            android:exported="false"
            android:theme="@style/Theme.Experiments"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".exp04_student_details.StudentDetailsMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.Experiments" />
        <activity
            android:name=".exp04_student_details.StudentDetails"
            android:exported="false"
            android:theme="@style/Theme.Experiments" />
        <activity
            android:name=".exp04_student_details.GroceryItemDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Experiments" />
        <activity
            android:name=".exp04_student_details.GroceryItems"
            android:exported="false"
            android:theme="@style/Theme.Experiments" />
        <activity
            android:name=".exp05_webview.YashdWebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.Experiments" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Experiments"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
